<h1>Recently Added</h1>
<% books.forEach(book => { %>
    <div>
        <%=book.title%>
    </div>
    <div>
        <%=book.publishDate.toLocaleDateString() %>
    </div>
    <div>
        <img width="100" height="100" src="<%= book.coverImagePath %>" alt="CoverImage">
    </div>
    <br><br>
    <% }) %>