<div class="page-header">Edit Authors</div>

<form action="/authors/<%= author._id%>?_method=PUT" method="post">

    <div class="d-flex  align-items-stretch">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" value="<%= author.name %>">
    </div>

    <div class="text-end my-3">
        <a href="/books">Cancel</a>
        <button class="mx-2 btn btn-sm btn-primary" type="submit">Update</button>
    </div>
</form>